
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("DALLE-android1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
   
  
  header {
    background: #41d5ed;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  header h2 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-style: italic;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
    padding: 0.5rem 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    font-weight: bold; /* Makes the text bold */
    text-shadow: 2px 2px 3px black;
    font-size: 30px;
    color: orange;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #b75221;
  }
   
  footer {
    text-align: center;
    padding: 1rem 0;
 
  }
  
