header {
  background-color: #8FBC8B;/*dark*/
  padding: 1rem;
}
body {
  border: solid;
  background-color: #f9f9f9; /*grey*/
  font-family: Arial, sans-serif;
}
h1 {
 font-family: Curlz MT;
 color: #A0522D;/*brown*/
 text-align: center;
 font-size: 3rem;
}
main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
