body {
    background-color: antiquewhite;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-text {
    text-align: left;
}

.top-image {
    width: 400px;
    height: auto;
}

h1 {
    font-size: 3rem;
    margin-left: 10%;
    margin-bottom: 20%;
}