header {
    background-color: #333;
    padding: 0.1rem;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: left;

}
main {
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: white;
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
}
h2 {
    color: white;
    font-size: 1rem;
    margin:3rem;
    text-align: center;
}
