header {
    background-color: #333;
    padding: 0.1rem;
}

body {
    background-color: rgb(220, 227, 220);
    font-family: Arial, sans-serif;

}
h1 {
    color: white;
    font-size: 3rem;
    margin: 3rem;
    text-align: center;
}
