header {
  background-color: yellow;
  padding: 1rem;
}
h1 {
 font-family: sans-serif;
 font-color: green;
 text-align: center;
 text-size: 3rem;
 margin: 1rem;
}
main {
  margin-top: 1rem;
  padding: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
