
header {
  background-color: #2F4F4F; /* Dark slate gray */
  padding: 1rem;
  border: 1rem solid #404040; /* Dark gray for border, resembling bare trees */
}
body {
  background-color: #626567; /* Medium gray for the main content area, resembling fog or mist */
}
h1 {
 font-family: sans-serif;
 color: #EAECEE; /* Light gray for contrast*/
 text-align: center;
 font-size: 3rem;
}
h2 {
  color: #EAECEE; /* Light gray for contrast */
  text-align: center;
}
main {
  background-color: #f2f2f2; /* Lighter gray */
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
/*a {
  color: #8A2BE2; A shade of purple for an eerie touch
} */
