header {
    text-align: center;
}

body {
    background-image: url("DALLE-book2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}