
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #9b9081;
    background-image: url("DALLE-android1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
  }
   
  
  header {
    background: #417eaa;
    text-align: center;
        text-shadow: 2px 2px 3px #1be9f7;

  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  header h2 {
    margin-top: 0rem;
    font-size: 1.2rem;
    font-style: italic;
  }
  
  /*.background-image {
    background-image: url('DALLE-mist.png');
    background-repeat: no-repeat;
    background-size: cover; /* The background image will cover the entire element */
    background-position: center;
    position: relative; /* This allows the child element to be positioned absolutely within */
    height: 100vh; /* Example height, can be set to the height of your choice */
    width: 100%; /* This will make the div take the full width of the viewport */
  }*/
  
  /*.foreground-image {
    background-image: url('DALLE-android1.png');
    background-repeat: no-repeat;
    background-size: contain; /* The foreground image will be contained within the element */
    background-position: center;
    position: absolute; /* This positions the foreground image within the background-image div */
    top: 0;
    left: 0;
    height: 100%; /* Match the parent size */
    width: 100%; /* Match the parent size */
  }*/
  

  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 5px; /* to give rounded corners */
    font-weight: bold; /* Makes the text bold */
    font-size: 25px;
    color: orange;
    padding: 1px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #b75221;
  }
   
  footer {
    position: fixed;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: orange;
    text-shadow: 2px 2px 3px black;
  }
  
  footer nav ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex; /* Displays list items inline */
  justify-content: center; /* Centers the list items */
  gap: 10px; /* Adds some space between list items */
  }

  footer nav ul li {
    display: inline; /* Displays list items inline */
  }
